:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  padding-top: 20px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: none;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}
.hero {
  background-color: #e8ecf5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .email-link {
    font-size: 16px;
    word-wrap: break-word;
  }
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.projects {
  text-align: left !important;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 0;
  line-height: 30px;
}

.text-center {
  text-align: center !important;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .project-description {
    padding: 0;
    text-align: center !important;
  }
  .projects {
    text-align: center !important;
  }

  .mt-4 {
    text-align: center;
  }
}
.about-section h1 {
  font-size: 64px;
  line-height: 1.5;
}
.about-section h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px !important;
}
.about-section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding: 5px 0;
  margin-bottom: 10px;
}
.about-section .navigation-links {
  margin-top: 0;
}
.profile-photo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.content {
  text-align: center;
  padding: 0;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.content p {
  font-size: 14px;
  padding: 5px 10px;
  line-height: 1.4;
  margin-top: 0;
}
.image-wrapper {
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper img:hover {
  transform: scale(1.05);
}
